Checks: "-*,bugprone-*,\
-readability-*,\
readability-identifier-*,\
readability-redundant-member-init,\
readability-braces-around-statements,\
cert-dcl*,\
cert-env*,\
cert-err52-cpp,\
cert-err60-cpp,\
cert-flp30-c,\
clang-analyzer-*,\
clang-analyzer-security.FloatLoopCounter,\
google-build-explicit-make-pair,\
google-build-namespaces,\
google-explicit-constructor,\
google-readability-*,\
google-runtime-operator,\
hicpp-exception-baseclass,\
hicpp-explicit-conversions,\
hicpp-use-*,\
modernize-avoid-bind,\
modernize-loop-convert,\
modernize-make-shared,\
modernize-make-unique,\
modernize-redundant-void-arg,\
modernize-replace-random-shuffle,\
modernize-shrink-to-fit,\
modernize-use-bool-literals,\
modernize-use-default-member-init,\
modernize-use-emplace,\
modernize-use-equals-default,\
modernize-use-equals-delete,\
modernize-use-noexcept,\
modernize-use-nullptr,\
modernize-use-override,\
modernize-use-transparent-functors,\
misc-*,\
-misc-misplaced-widening-cast,\
-misc-no-recursion,\
performance-*"

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'

CheckOptions:
  # Configuration documentation: https://clang.llvm.org/extra/clang-tidy/checks/readability-identifier-naming.html
  # Namespaces
  - key:    readability-identifier-naming.NamespaceCase
    value:  'lower_case'

  # Classes and structs
  - key:    readability-identifier-naming.AbstractClassPrefix
    value:  'I'
  - key:    readability-identifier-naming.ClassCase
    value:  'CamelCase'
  - key:    readability-identifier-naming.StructCase
    value:  'CamelCase'
  - key:    readability-identifier-naming.UnionCase
    value:  'CamelCase'

  # Class members
  - key:    readability-identifier-naming.PrivateMemberCase
    value:  'lower_case'
  - key:    readability-identifier-naming.PrivateMemberSuffix
    value:  '_'    
  - key:    readability-identifier-naming.ProtectedMemberCase
    value:  'lower_case'
  - key:    readability-identifier-naming.ProtectedMemberSuffix
    value:  '_'        

  # Type Alias and Enum Types / constants
  - key:    readability-identifier-naming.TypeAliasCase
    value:  'CamelCase'
  - key:    readability-identifier-naming.TypedefCase
    value:  'CamelCase'
  - key:    readability-identifier-naming.EnumCase
    value:  'CamelCase'
  - key:    readability-identifier-naming.EnumConstantCase
    value:  'CamelCase'

  # Globals, consts and enums
  - key:    readability-identifier-naming.GlobalConstantCase
    value:  'UPPER_CASE'
  - key:    readability-identifier-naming.GlobalConstantPrefix
    value:  'G_'
  - key:    readability-identifier-naming.ConstantCase
    value: 'UPPER_CASE'

  # Functions
  - key:    readability-identifier-naming.FunctionCase
    value:  'camelBack'
  - key: readability-identifier-naming.IgnoreMainLikeFunctions
    value: true

  # Variables and parameters
  - key:    readability-identifier-naming.VariableCase
    value:  'lower_case'
  - key:    readability-identifier-naming.LocalVariableCase
    value:  'lower_case'
  - key:    readability-identifier-naming.ParameterCase
    value:  'lower_case'

  # Macros
  - key:    readability-identifier-naming.MacroDefinitionCase
    value:  'UPPER_CASE'
