<Project Sdk="Microsoft.Quantum.Sdk/#NUGET_VERSION#">

  <PropertyGroup>
    <OutputType>Exe</OutputType>
    <TargetFramework>netcoreapp3.0</TargetFramework>
  </PropertyGroup>

  <ItemGroup>
    <QsharpCompile Include="**/*.qs" Exclude="obj/**" />
  </ItemGroup>

</Project>

