Checks: "-*,bugprone-*,\
-readability-*,\
readability-identifier-*,\
readability-braces-around-statements,\
cert-dcl*,\
cert-env*,\
cert-err52-cpp,\
cert-err60-cpp,\
cert-flp30-c,\
clang-analyzer-security.FloatLoopCounter,\
google-build-explicit-make-pair,\
google-build-namespaces,\
google-explicit-constructor,\
google-readability-*,\
google-runtime-operator,\
hicpp-exception-baseclass,\
hicpp-explicit-conversions,\
hicpp-use-*,\
misc-*,\
-misc-misplaced-widening-cast,\
performance-*"

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'

CheckOptions:
  - key:    readability-identifier-naming.ClassCase
    value:  'CamelCase'
  - key:    readability-identifier-naming.ClassPrefix
    value:  'C'
  - key:    readability-identifier-naming.AbstractClassPrefix
    value:  'I'
  - key:    readability-identifier-naming.StructCase
    value:  'CamelCase'
  - key:    readability-identifier-naming.ParameterCase
    value:  'camelBack'
  - key:    readability-identifier-naming.PrivateMemberCase
    value:  'camelBack'
  - key:    readability-identifier-naming.LocalVariableCase
    value:  'camelBack'
  - key:    readability-identifier-naming.TypeAliasCase
    value:  'CamelCase'
  - key:    readability-identifier-naming.UnionCase
    value:  'CamelCase'
  - key:    readability-identifier-naming.FunctionCase
    value:  'CamelCase'
  - key:    readability-identifier-naming.NamespaceCase
    value:  'CamelCase'
