<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->

<!--
    This configuration tells the .NET Core SDK to build the Q# compiler using the
    Quantum Development Kit prerelease feed in addition to any other currently
    configured NuGet feeds.
    This allows us to use prerelease packages from other parts of the Quantum
    Development Kit in between releases.

    See https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior#how-settings-are-applied
    for more information about how NuGet and the .NET Core SDK find package
    sources from NuGet.Config files.
-->
<configuration>
  <packageSources>
    <add key="qdk-alpha" value="https://pkgs.dev.azure.com/ms-quantum-public/Microsoft Quantum (public)/_packaging/alpha/nuget/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
