<Project Sdk="Microsoft.Quantum.Sdk/#NUGET_VERSION#">

  <PropertyGroup>
    <OutputType>Exe</OutputType>
    <TargetFramework>net6.0</TargetFramework>
    <ExecutionTarget>ionq.qpu</ExecutionTarget>
    <WarningsAsErrors>5023 5024 5025 5026 5027 5028</WarningsAsErrors>
  </PropertyGroup>

</Project>
