<Project Sdk="Microsoft.Quantum.Sdk/#NUGET_VERSION#">

  <PropertyGroup>
    <OutputType>Exe</OutputType>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <ExecutionTarget>ionq.qpu</ExecutionTarget>
  </PropertyGroup>

</Project>
