<?xml version="1.0" encoding="utf-8"?>
<!-- This NuGet.Config is used in restoring the dotnet-script tool,
     which in turn is required to run the inject-version.csx script.
     We clear the qdk-alpha feed here to make sure that the
     dotnet tool restore step can find dotnet-script from the public
     nuget.org feed.
-->
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
