<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.Composition" version="15.8.98" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.ProjectSystem" version="15.8.243" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.ProjectSystem.Analyzers" version="15.8.243" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.ProjectSystem.Sdk" version="15.8.243" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.ProjectSystem.Sdk.Tools" version="15.8.243" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Threading" version="15.8.132" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="15.8.132" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.58" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Dataflow" version="4.5.24" targetFramework="net461" />
</packages>